    <%- include('../partials/head.ejs') %>
    <title>Key Search - MICM</title>
</head>
<body>
    
    <!-- property search form -->
    <div class="container col-sm-7 col-md-5">
        <h1 class="text-center">Keys</h1>
        <a class="btn btn-outline-success" href="/add-keys">Add new property</a>
        <form id="searchForm">
            <label class="form-label" for="search-address">Please enter a property address:</label>
            <input type="text" class="form-control mb-3" id="search-address" placeholder="Address">
            </select> 
        </form>

        <!-- key number will be shown here -->
        <div class="key-number text-center">  </div>
    </div>

    <%- include('../partials/footer.ejs') %>
    <script src="home.js"></script>
</body>
</html>